<ul class="navbar-nav p-3">
	<li class="nav-item fw-bold"><p><a class="b-bottom @(ViewBag.BottomSet == 0? "b-bottom-set": "")" asp-action="Index"><i class="bi bi-person-badge"></i> Profile</a></p></li>
	<li class="nav-item fw-bold"><p><a class="b-bottom @(ViewBag.BottomSet == 1? "b-bottom-set": "")" asp-action="Favorite"><i class="bi bi-heart"></i> Favorite</a></p></li>
	<li class="nav-item fw-bold"><p><a class="b-bottom @(ViewBag.BottomSet == 2? "b-bottom-set": "")" asp-action="WatchLater"><i class="bi bi-stopwatch"></i> Watch Later</a></p></li>
	<li class="nav-item fw-bold"><p><a class="b-bottom @(ViewBag.BottomSet == 3? "b-bottom-set": "")" asp-action="History"><i class="bi bi-journal-bookmark"></i> History</a></p></li>
</ul>