* {
    
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: Roboto,Arial,Helvetica Neue,Helvetica,sans-serif;
}

.text-lection {
    position: relative;
    min-height: 132px;
    z-index: 2;
    color: white;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.14;
}

.part-text-lection {
    position: absolute;
    bottom: 0%;
    left: 0;
    padding-left: 10px;
}

.tshadow {
    background: rgba(0,0,0,.3);
}

a.b-bottom:hover {
    border-bottom: 0.3rem solid;
    border-bottom-color: rebeccapurple;
    line-height: 0px;
}

.b-bottom-set {
    border-bottom: 0.3rem solid;
    border-bottom-color: rebeccapurple;
    line-height: 0px;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: black;
}

a.b-bottom {
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.btm::after {
    content: "*"
}
